node_modules/
.env.local
.env
chunks/
chunks/*
chanks
.next/
.next
.next/*
dist/
dist/*
coverage/
.vscode/
.DS_Store                           
*.log
*.tsbuildinfo
*.tgz
*.swp
*.swo
*.bak   
*.tmp
*.temp
*.zip
*.rar
*.tar
*.gz
*.7z
*.tgz
*.log.*
*.pid   
*.pid.lock
*.seed